@use "sass:math";
//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap&subset=cyrillic-ext");
@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Roboto";
$fontSize: 16;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>==========================================================================================================
$minWidth: 320px;
$maxWidth: 1440;
$maxWidthContainer: 1230;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainColor: #000;
$primaryColor: #1890FF;
$primaryColorHover: #1782e6;

$extraDarkGrayColor: #262626;
$darkGrayColor: #302C34;
$grayColor: #595959;
$lightGrayColor: #8C8C8C;
$extraLightGrayColor: #BFBFBF;

//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
body {
	color: $mainColor;
	&._lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
  background: linear-gradient(rgba(245, 245, 245, 0) 1.04%, #F5F5F5 100%);
	&._loaded {
	}
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
  padding: 0 15px;
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
//@import "lightgallery";
//@import "pagging";
@import "popup";
@import "header";
@import "footer";
@import "home";
@import "cart";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
}
//===================================================================================================================================
.logo {
  display: flex;
  align-items: center;
  &__name {
    color: $mainColor;
    font-size: 15px;
    margin: 0px 0px 0px 10px;
  }
}
//============================================================================
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px -12px;
}
.column {
  flex: 0 1 33.333%;
  padding: 0px 12px;  
  margin: 0px 0px 30px 0px;  
  @media (max-width:$md2+px){
    flex: 0 1 50%;
  }
  @media (max-width:700px){
    flex: 1 1 100%; 
  }
}
.item {
  border-radius: 12px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(212, 209, 205, 0.3);
  transition: box-shadow 0.3s ease 0s;
  height: 100%;
  @media (any-hover: hover){
    &:hover{
      box-shadow: 0 0 50px rgba(212, 209, 205, 0.6);
    }
  }
}
//============================================================================
.info {
  display: flex;
  align-items: center;
  color: $lightGrayColor;
  font-size: 18px;
  line-height: 32 / 18 * 100%;
}
.rate {
  display: flex;
  align-items: center;
  color: #FFC107;
  font-weight: 700;
  &::before{
    margin: 0px 5px 0px 0px;
  }
  margin: 0px 25px 0px 0px;
}
.price {
  margin: 0px 20px 0px 0px;
  &::after{
    padding: 0px 0px 0px 5px;
  }
}
.category {
  position: relative;
  &::before{
    content:'';
    position: absolute;
    width: 5px;
    height: 5px;
    top: 50%;
    left: -13px;
    background-color: $lightGrayColor;
    border-radius: 50%;
    transform: translate(0px,-50%);
  }
}
//</ОСНОВНОЙ БЛОК>====================================================================================================
